.full-screen {
    width: 100vw;
    height: 100vh;
}

.login-text {
    font-size: 60px;
    font-family: 'Bitter';
    margin: auto;
    text-align: center;
}

.login-input {
    margin: auto;
    width: 75%;
    border: #13294B 3px solid;
    text-align: center;
}