.centercontainer {
    padding: 20px;
    padding-right: 150px;
}

.divider {
    display:flex;
    justify-content:space-between;
}

.acceptedText {
    color: green;
    background-color: white;
    border: 3px solid green;
    padding: 0 3px 0 3px;
}