.full-screen {
  width: 100vw;
  height: fit-content;
}

.aligncenter {
  text-align: center;
}

.button {
  background-color: #13294B;
  border: 2px solid #13294B;
  border-radius: 4px;
  color: white;
  padding: 5px 15px !important;
  text-decoration: none;
  font-size: 17px !important;
  transition-duration: 0.3s;
  text-align: center;
}

.button:hover {
  background-color: white;
  border: 2px solid #13294B;
  color: #13294B;
}

.button-create {
  margin: 0 auto;
  padding: 10px 40px 10px 40px;
  font-size: 20px;
  text-align: center;
  background-color: #13294B;
  float: center;
}

.createaccount-header {
  padding: 15px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 40px;
  color: #13294B;
}

.dashedline {
  margin: 5px 370px;
  height: 5px;
  background: repeating-linear-gradient(
    to right,
    transparent,
    transparent 10px,
    #4B9CD3 10px,
    #4B9CD3 20px
  );
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.createaccount-container {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border: #13294B 2px solid;
  height: auto;
  padding:20px;
}
