.full-screen {
    width: auto;
    height: 100vh;
}

.onboardingphoto-text {
    font-size: medium;
    padding-bottom: 10px;
}

.largertext{
    font-size:17px;
}

.button {
    background-color: #13294B;
    border: 2px solid #13294B;
    border-radius: 4px;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.3s;
}

.button:hover {
    background-color: white;
    border: 2px solid #13294B;
    color: #13294B;
}

.button-urlnext {
    margin: 0 auto;
    padding: 10px 30px 10px 30px;
    font-size: 20px !important;
    text-align: center;
    float: center;
}

.onboardingphoto-header {
    padding: 15px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 40px;
    color: #13294B;
}

.dashedline {
    margin: 5px 370px;
    height: 5px;
    background: repeating-linear-gradient(
      to right,
      transparent,
      transparent 10px,
      #4B9CD3 10px,
      #4B9CD3 20px
    );
}

.onboardingphoto-container {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: #13294B 2px solid;
    border-top: #13294B 15px solid;
    height: auto;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.smallcontainer{
    border: 3px solid #13294B;
    padding: 10px;
    width: auto;
    text-align: center;
    margin: 0 auto;
}