.full-screen {
    width: auto;
    height: 100vh;
}

.onboardingbio-text {
    font-size: medium;
    padding-bottom: 10px;
}
  
.button {
    background-color: #13294B;
    border: 2px solid #13294B;
    border-radius: 4px;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.3s;
}

.button:hover {
    background-color: white;
    border: 2px solid #13294B;
    color: #13294B;
}

.button-next {
    margin: 0 auto;
    padding: 10px 30px 10px 30px;
    font-size: 20px;
    text-align: center;
    background-color: #4B9CD3;
    float: center;
}

button:disabled,
button[disabled]{
    border: 2px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

button[disabled]:hover {
    border: 2px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.onboardingbio-header {
    padding: 15px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 50px;
    color: #13294B;
}

.dashedline {
    margin: 5px 370px;
    height: 5px;
    background: repeating-linear-gradient(
      to right,
      transparent,
      transparent 10px,
      #4B9CD3 10px,
      #4B9CD3 20px
    );
}

.onboardingbio-container {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: #13294B 2px solid;
    border-top: #13294B 15px solid;
    height: auto;
    padding: 20px;
}