.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: baseline;
    -moz-box-shadow: inset 0 -10px 10px #13294B;
    -webkit-box-shadow: inset 0 -10px 10px #13294B;
    box-shadow: inset 0 -20px 0px #13294B;
    background-color: #4b9cd3;
    color: #fff;
    text-shadow: 2px 2px 5px #3f4e69;
  }
.App-logo {
    position: relative;
    bottom: -29px;
    box-sizing: border-box;
    width: auto;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.Text {
    color: #fff;
    display: flex;
    justify-content: left;
    font-size: 45px;
    padding-left: 12px;

}

.Logout-text {
    position: absolute;
    right: 25px;
    width: 200;
    padding: 10px;

}

.iconsize {
    font-size: 20;
}

.Settings-text {
    position: absolute;
    right: 0px;
    top: 15px;
    height: 15%;
    width: 200;
    padding: 10px;
}