.full-screen {
  width: 100vw;
  height: 100vh;
}

.left-container {
  float: left;
  width: 25%;
  height: auto;
}

.right-container {
  float: left;
  width: 75%;
  height: 50%;
}

.profile-container {
  margin-left: auto;
  margin-right:auto ;
  width: 60%;
  border: #13294B 2px solid;
}

.url-container {
  height: 150px;
  width: 90%;
  padding: 3px;
  text-align: center;
  overflow-wrap: break-word;
}

.name-container {
  background: #4B9CD3;
  width: auto;
}

.editbutton-container {
  float: right;
  height: auto;
  padding-right: 15px;
}

.button {
  background-color: #13294B;
  border: 2px solid #13294B;
  border-radius: 4px;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.3s;
}

.button:hover {
  background-color: white;
  border: 2px solid #13294B;
  color: #13294B;
}

.bio-container {
  height:fit-content;
  width: auto;
  padding: 10px;
}

.profile-characteristics {
  background: #E8F6FF;
  font-size: smaller;
}

.characteristics-left{
  align-content: left;
}

.characteristics-right{
  align-content: right;
}

.table-size {
  width: 33%;
}

table {
  white-space: nowrap;
  width: 100%;
}

td {
  max-width: 0;
  overflow: visible;
}

td.size {
  min-width: fit-content;
}

td.size span {
  background-color: #dc9cff;
  color: black;
  border-radius: 10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0 5px 0 5px;
}

td.size span2 {
  background-color: #4362ed;
  color: black;
  border-radius: 10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0 5px 0 5px;
}

td.size span3 {
  background-color: #f5ff9c;
  color: black;
  border-radius: 10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0 5px 0 5px;
}

td.size span4 {
  background-color: #3fc014;
  color: black;
  border-radius: 10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0 5px;
}

td.size span5 {
  background-color: #b042ff;
  color: black;
  border-radius: 10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0 5px;
}

td.size span6 {
  background-color: #ff781f;
  color: black;
  border-radius: 10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0 5px;
}

td.size span7 {
  background-color: #ff9cbb;
  color: black;
  border-radius: 10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0 5px;
}

td.size span8 {
  background-color: #877e46;
  color: black;
  border-radius: 10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0 5px;
}

.blank-row {
  background-color: #E8F6FF;
  height: 20px;
}

.smallcontainer{
  border: 3px solid #13294B;
  padding: 10px;
  width:fit-content;
  text-align: center;
  margin: 0 auto;
}